/* style.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#111;
padding:0px;
}

.dashboard{
display:flex;
min-height:100vh;
background:#f4efec;
border-radius:10px;
overflow:hidden;
}

/* Main */
.main-content{
flex:1;
padding:25px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.search-box{
background:#fff;
padding:10px 15px;
border-radius:10px;
width:55%;
}

.search-box input{
border:none;
outline:none;
width:90%;
}

.profile{
display:flex;
gap:10px;
align-items:center;
}

.profile img{
width:40px;
height:40px;
border-radius:50%;
}

.profile span{
font-size:12px;
color:#777;
}

/* Title */
.title h1{
font-size:28px;
}

.title p{
color:#666;
margin-top:5px;
margin-bottom:20px;
}

/* Filter */
.filter-box{
background:#fff;
padding:20px;
border-radius:12px;
margin-bottom:20px;
}

.grid2{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

label{
display:block;
font-size:14px;
margin-bottom:6px;
}

input,select{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:8px;
outline:none;
}

.btn-group{
margin-top:15px;
display:flex;
gap:10px;
}

.print-btn,
.pdf-btn{
padding:10px 15px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:600;
}

.print-btn{
background:#eee;
}

.pdf-btn{
background:#2e7d32;
color:#fff;
}

/* Table */
.table-box{
background:#fff;
padding:20px;
border-radius:12px;
}

.table-head{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.legend{
font-size:13px;
color:#666;
display:flex;
gap:10px;
align-items:center;
}

.green-dot,.yellow-dot,.red-dot{
width:10px;
height:10px;
border-radius:50%;
display:inline-block;
}

.green-dot{background:#00c853;}
.yellow-dot{background:#ffc107;}
.red-dot{background:#f44336;}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

table th,table td{
padding:14px;
border-bottom:1px solid #eee;
text-align:left;
font-size:14px;
}

.badge{
padding:6px 12px;
border-radius:20px;
font-size:12px;
font-weight:600;
}

.present{
background:#dff7e4;
color:#00a53c;
}

.late{
background:#fff3cd;
color:#c28a00;
}

.absent{
background:#ffe1e1;
color:#ff0000;
}

/* Print */
@media print{

.sidebar,
.topbar,
.filter-box{
display:none;
}

body{
background:#fff;
padding:0;
}

.main-content{
padding:0;
}

.table-box{
box-shadow:none;
}

}